@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
  width: 100vw;
}

@layer base {
  button,
  [type='button'] {
    background-color: var(--el-button-bg-color, var(--el-color-white));
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
